.nav {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    z-index: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 40px;

    & a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2em;
        transition: 1s all;
    }

    & a:hover {
        background: -webkit-linear-gradient(#1877F2, #27C3EF, #33FFEC, #55A6F1, #7B42F6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    & .logo {
        width: 70px;
    }

    & .nav_esquerda {
        display: flex;
        gap: 40px;
        align-items: center;
        padding-left: 60px;

        & .botao_geny {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #000;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
            transition: .3s all;
            text-decoration: none;
            overflow: hidden;

            height: 44px;


            & .perfil_geny {
                background-image: url(../../assets/img/perfil_geny.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 49px;
                height: 75px;
                margin-top: 10px;

            }

            span {
                background: -webkit-linear-gradient(#1877F2, #27C3EF, #33FFEC, #55A6F1, #7B42F6);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 600;
                padding: 0 18px 5px 10px;
                white-space: nowrap;
            }

            & img {
                width: 80px;
                height: 80px;
            }
        }



        & .botao_geny:hover {
            transform: scale(1.05);
            opacity: 0.9;
        }
    }

    & .nav_direita {
        display: flex;
        gap: 40px;
        align-items: center;
        padding-right: 100px;

        & .cadastrar {
            border-radius: 10px;
            padding: 8px;
            transition: .3s all;

            & a {
                display: flex;
                color: black;
            }
        }

        & .cadastrar:hover {
            transform: scale(1.1);
        }
    }
}