.footer {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    width: 100%;
    background-color: #000;
    width: 100%;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    & h1 {
        font-weight: 600;
        font-style: italic;
    }

    & .input_email {
        position: relative;


        & input {

            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 50px;
            padding: 16px 65px 16px 25px;
            box-sizing: border-box;
            outline: none;
            color: #fff;
        }

        & input::placeholder {
            color: #fff;
        }

        & button {
            position: absolute;
            top: 50%;
            right: 2px;
            transform: translateY(-50%);
            width: 42px;
            height: 42px;
            background-color: #aaa;
            border: none;
            border-radius: 50%;
            color: #2a2a2a;
            font-size: 1.8rem;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.2s ease;
        }

        & button:hover {
            background-color: #ffffff;
        }
    }

    & .links {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 90px;
        flex-wrap: wrap;
        justify-content: center;

        & ul {
            text-align: left;
            padding: 0 15px;
            

            & h2 {
                font-size: 1rem;
                padding-bottom: 10px;
            }

            & li {
                margin-bottom: 10px;
            }
        }



        & a {
            text-decoration: none;
            color: #fff;
            transition: .3s all;
        }

        & a:hover {
            background: -webkit-linear-gradient(#1877F2, #27C3EF, #33FFEC, #55A6F1, #7B42F6);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

}

@media (max-width: 768px) {
    .footer {
        text-align: center;

        & .links {
            
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 40px;

            & ul {
                text-align: center;
            }
        }
    }


}