* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root {
    overflow-y: auto;
    scroll-behavior: smooth;
}

